
.container {
    display: inline-block;
    text-align: center;
    margin: 5em 0 15em 15em;



}

.container1 {
    float: left;
    height: 100em;
    background-color: black;
    width: 200px;
    display: inline-block;
    padding: 0;


}

.container2{
    height: 0;
    text-align: left;
    margin-left: 13em;
    float: left;

}

.container3 {
    height: 0;
    text-align: center;
    margin-left: 13em;

}

.list {
    list-style-type: circle;
    display: inline-block;
    margin: 0;
    padding: 0;



}


.img {
    width: 6em;
    height: 5.938em;
    padding-left: 3.5em;


}

.img1 {
    width: 96px;
    height: 95px;
    padding: 0;
}

ul {

    text-align: inherit;

}

li {
    margin-bottom: 2em;
}

li a {
    color: white;

}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: blue;
}
h1 {
    color: blue;
    text-align: center;

}
h2 {
    text-align: center;
}

